<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="HSGVDbContext" connectionString="data source=DESKTOP-2NELA9S\SQLEXPRESS;initial catalog=Quanlydiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="QUANLYHOCSINHGIAOVIEN.Properties.Settings.QuanlydiemConnectionString" connectionString="Data Source=DESKTOP-2NELA9S\SQLEXPRESS;Initial Catalog=Quanlydiem;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="HSGVDbContext1" connectionString="data source=DESKTOP-2NELA9S\SQLEXPRESS;initial catalog=Quanlydiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="HSGVDbContext" connectionString="data source=DESKTOP-2NELA9S\SQLEXPRESS;initial catalog=Quanlydiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HSGVDbContext1" connectionString="data source=DESKTOP-2NELA9S\SQLEXPRESS;initial catalog=Quanlydiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HSGVDbContext2" connectionString="data source=DESKTOP-2NELA9S\SQLEXPRESS;initial catalog=Quanlydiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HSGVDbContext3" connectionString="data source=DESKTOP-2NELA9S\SQLEXPRESS;initial catalog=Quanlydiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HSGVDbContext4" connectionString="data source=DESKTOP-2NELA9S\SQLEXPRESS;initial catalog=Quanlydiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HSGVDbContext5" connectionString="data source=DESKTOP-2NELA9S\SQLEXPRESS;initial catalog=Quanlydiem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>